@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(0.1448 0 0);
    --color-primary: oklch(0.6618 0.185551 249.6356);
    --color-primary-content: oklch(0.9851 0 0);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(74% 0.16 232.661);
    --color-accent-content: oklch(0.1448 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(0.9851 0 0);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(0.1448 0 0);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(0.9851 0 0);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(0.1448 0 0);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(0.9851 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "black";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(19% 0 0);
    --color-base-300: oklch(22% 0 0);
    --color-base-content: oklch(100% 0 0);
    --color-primary: oklch(0.6618 0.185551 249.6356);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(35% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(74% 0.16 232.661);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(98% 0.003 247.858);
    --color-neutral-content: oklch(0.1448 0 0);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(0.1448 0 0);
    --color-success: oklch(51.975% 0.176 142.495);
    --color-success-content: oklch(90.395% 0.035 142.495);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(0.1448 0 0);
    --color-error: oklch(62.795% 0.257 29.233);
    --color-error-content: oklch(12.559% 0.051 29.233);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
